body {
    font-family: "Montserrat", serif;
    margin: 0;
    background-color: #000;
    color: #fff;
    overflow: hidden;

}
.main {
    display: flex;
    height: 100vh;
    padding: 0.5rem;
}
.sidebar {
    background-color: #000;
    width: 340px;
    border-radius: 1rem;   /* 1rem=16px for a full screen */
    margin-right: 0.5rem;
    height: 130vh;
    
}

.main-content {
    background-color: #121212;
    flex: 1;
    border-radius: 1rem;
    overflow: auto;
    padding: 0 1.5rem 0 1.5rem;

}
.main-content {
    /* Keep these for scrolling functionality */
    height: 100vh; /* Or any fixed height */
    overflow-y: scroll; 
    /* ... other styles */
    
    /* HIDE SCROLLBAR IN CHROME, SAFARI, OPERA, NEW EDGE */
    scrollbar-width: none;  /* Also for Firefox, see Method 2 */
}

/* HIDE SCROLLBAR IN CHROME, SAFARI, NEW EDGE (webkit) */
.main-content::-webkit-scrollbar {
    display: none;
}
.music-player {
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 75px;
}
a { 
    text-decoration: none;
    color: #fff;
}
.nav {
    background-color: #121212;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    padding: 0.5rem 0.75rem ;
}
.nav-option {
    line-height: 2.5rem;
    opacity: 0.7;
    padding: 0.5rem 0.75rem;
}
.nav-option:hover {
    opacity: 1;
}
.nav-option i {
    font-size: 1.25rem;
}
.nav-option a {
    font-size: 1rem;
    margin-left: 1rem;
}
.library {
    background-color: #121212;
    border-radius: 1rem;
    height: 100%;
    margin-top: 0.5rem;
    padding: 0.5rem 0.75rem;
}
.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lib-option img {
    height: 1.25rem;
    width: 1.25rem;
}
.icons {
    display: flex;
    font-size: 1.25rem;
}
.icons i {
    margin-right: 1rem;
    opacity: 0.7;
}
.icons i:hover {
    opacity: 1;
}

.box {
    height: 8rem;
    background-color: #232323;
    border-radius: 0.75rem;
    margin: 0.75rem 0 1.5rem 0;
    padding: 0.5rem 1rem;
}
.box-p1 {
    font-size: 1rem;
    font-weight: 500;
}
.box-p2 {
    font-size: 0.85rem;
    opacity: 0.9;
}
.badge {
    background-color: #fff;
    border: none;
    border-radius: 100px;
    font-weight: 700;
    padding: 0.5rem 1.25rem;
    margin-top: 0.5rem;
    height: 2rem;
    width: fit-content;
}
.dark-badge{
    background-color: #000;
    color: #fff;
}
.sticky-nav {
    position: sticky;
    top: 0;
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1rem 0;
    z-index: 10;
}
.sticky-nav-icons {
    margin-left: 0.75rem;
}
.sticky-nav-options {
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-item {
    margin-right: 0.75rem;
}
@media (max-width:1000px) {
    .hide {
        display: none;
    }
}
.card {
    background-color: #232323;
    width: 150px;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-left: 1.5rem;
    margin-top: 1rem;
}
.card-container {
    display: flex;
    flex-wrap: wrap;
}
.card img {
    width: 100%;
    border-radius: 0.5rem;
}
.card-title {
    font-weight: 600;
}
.card-info {
    font-size: 0.85rem;
    opacity: 0.8;
}

.footer {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.line {
    height: 50%;
    width: 90%;
    border-top: 1px solid #fff;
    opacity: 0.4;
}

.music-player{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;;
}
.album {
    width: 25%;
    background: #000;
    display: flex;
    align-items: center;
}
.player {
    width: 50%;
    /* background: orange; */
}
.control2 {
    width: 30%;
    background: black;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 30px;
    height: auto;
    /* flex: auto; */
}
.ctrl-img5 {
    height: 1.25rem;
    width: 1.25rem;
    margin-right: 0.75rem;
    cursor: pointer;
    filter: invert(1);
}
.player-control-icon {
    height: 1rem;
    margin-right: 1.75rem;
    opacity: 0.7;
    margin-bottom: 0.5rem;
}
.player-control-icon:hover {
    opacity: 1;
    cursor: pointer;
}
.player-icon-play {
    height: 1.5rem;
    margin-right: 1.75rem;
    opacity: 1;
    filter: invert();
}
.player-control {
    display: flex;
    justify-content: center;
    align-items: center;
}
.playback-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.playback-bar span{
    font-size: 0.75rem;
    opacity: 0.7;
    margin: 0 0.75rem;
    /* margin-top: 0.75rem;
    align-items: center; */
}
.progress-bar {
    width: 70%;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
}

.progress-bar::-webkit-slider-runnable-track {
    background: #ddd;
    border-radius: 100px;
    height: 0.2rem;
}
.progress-bar::-webkit-slider-thumb {
    appearance: none;
    height: 1rem;
    width: 1rem;
    background: #1bd760;
    border-radius: 50%;
    margin-top: -6px;
    
}
.mp-img1 {
    height:56px;
    width:56px;
    margin-right: 1rem;
}
.mp-img2 {
    height: 1.25rem;
    width: 1.25rem;
    cursor: pointer;
    margin-left: 1rem;
}
.mp-a1 {
    font-size: 1rem;
    opacity: 1;
}
.mp-a2 {
    font-size: 0.75rem;
    opacity: 0.8;
}
.mp-a2:hover { 
    opacity: 1;
    text-decoration: underline;

}
.mp-a1:hover {
    text-decoration: underline;
}
.control2 img {
    height: 1.15rem;
    width: 1.15rem;
    margin-right: 0.65rem;
    cursor: pointer;
}
.control2 img:hover {
    opacity: 1;
}
.ctrl-img4 {
    opacity: 0.6;
}
.ctrl-img3 {
    opacity: 0.6;
}
.volume-ctrl {
    appearance: none;
    background-color: transparent;
    width:25%;
}
.volume-ctrl::-webkit-slider-runnable-track {
    background: #ddd;
    border-radius: 100px;
    height: 0.2rem;
}
.volume-ctrl::-webkit-slider-thumb {
    appearance: none;
    height: 1rem;
    width: 1rem;
    background: #1bd760;
    border-radius: 50%;
    margin-top: -6px;
    cursor: pointer;
}
.card:hover {
    box-shadow:0px 2px 2px 0px  rgb(141, 138, 138);
}

.songList ol{
    padding: 0 12px;

}
.songList ol li{
    list-style-type: decimal;
    display: flex;
    gap: 12px;
    cursor: pointer;
    padding: 12px 0;
    border: 1px solid white;
    margin: 12px 4px 12px 4px;
    padding: 10px;
    border-radius: 5px;
    justify-content:space-between;
    align-items: center;
}


 .invert{
    filter: invert(1);
}

.playnow{
    display: flex;
    justify-content: center;
    align-items: center;
}

.playnow{
    padding-left: 12px;

} 
.playnow span{
    font-size: 10px;
    width: 64px;
    padding: 0px 0px 0px 12px;
}




.songList .info {
    font-size: 13px;
    width: 344px;

}

.songList{
    height: 438px;
    overflow-y: auto;
    scrollbar-width: none;  /* Also for Firefox, see Method 2 */

}




/* Add this rule to initialize the variable
.progress-bar {
    width: 70%;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
     Initialize the CSS variable
    --progress-percent: 0%; 
} */

/* This is the rule you need to UPDATE */
/* .progress-bar::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #1bd760 var(--progress-percent), #ddd var(--progress-percent));
    border-radius: 100px;
    height: 0.2rem;
}  */
  .card {
    background-color: #232323;
    width: 150px;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-left: 1.5rem;
    margin-top: 1rem;
    cursor: pointer; /* Adds a hand cursor on hover */
    
    /* This is the key for the smooth animation! */
    /* It animates changes to transform and box-shadow over 0.2 seconds. */
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.card:hover {
    /* This makes the card 5% bigger and moves it up by 5px */
    transform: scale(1.05) translateY(-5px);
    
    /* This adds a more pronounced shadow to make it look "lifted" */
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
}